:root {
    --in-quint: cubic-bezier(0.64, 0, 0.78, 0);
    --out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);
}

/* || BLOCK */

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* || LAYERS */

.intro__layer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.intro__layer--bg {
    z-index: 1;
    background: black;
}

.intro__layer--bg-front {
    z-index: 2;
}

.intro__layer--bg-back {
    z-index: 1;
    background: black;
}

.intro__layer--fg {
    z-index: 2;
}

.intro__layer--fg-front {
    z-index: 2;
}

.intro__layer--fg-back {
    z-index: 1;

    overflow: hidden
}

.intro__bg-fill {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, black 0%, white 10%, white 40%, gray 50%, white 60%, white 90%, black 100%);
}

.intro__line {
    z-index: 3;
    width: 100%;
    height: 4px;
    background-color: black;
}


.intro__mountains {
    z-index: 2;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.intro__mountains-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.intro__mountains-container--top {
    align-items: start;
}

.intro__mountains-container--bottom {
    align-items: end;
}

.intro__mountain-container {
    display: flex;
}

.intro__mountain {
    opacity: 70%;
    background-color: black;
    width: 100%;
    height: 100%;
}

.intro__mountain--top {
    transform-origin: top;
}

.intro__mountain--bottom {
    transform-origin: bottom;
}


.intro__title {
    color: black;
    font-size: 20vh;

    letter-spacing: 0.2em;
}

.intro__title--hello {

}

.intro__title--world {

}

.intro__title-shadow {
    color: transparent;
    background-clip: text;

    opacity: 50%;

    font-size: 17vw;
    font-weight: bold;
    font-style: italic;
    white-space: nowrap;
}

.intro__title-shadow--hello {
    background-image: linear-gradient(to bottom, black 30%, transparent 80%);
    animation: move-left-4rep 2s linear infinite;
}

.intro__title-shadow--world {
    background-image: linear-gradient(to top, black 20%, transparent 70%);
    animation: move-left-4rep 3s linear infinite reverse;
}

.intro__title-shadow-small {
    margin: 0;
    color: black;
    opacity: 50%;
    font-size: 7vw;
    font-weight: normal;
}

.intro__title-shadow-small--hello {
    margin-bottom: 3vh;
    animation: move-left-8rep 2s linear infinite;
}

.intro__title-shadow-small--world {
    margin-top: 3vh;
    animation: move-left-8rep 2s linear infinite reverse;
}

.intro__title-shadow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__title-shadow-container--hello {

}

.intro__title-shadow-container--world {

}

@keyframes move-left-4rep {
    to { transform: translateX(calc(100% / 4)); }
}

@keyframes move-left-8rep {
    to { transform: translateX(calc(100% / 8)); }
}