:root {
    --in-quint: cubic-bezier(0.64, 0, 0.78, 0);
    --out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);
}

/* || BLOCK */

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* || LAYERS */

.intro__layer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.intro__layer--bg {
    z-index: 1;
    background: black;
}

.intro__layer--bg-front {
    z-index: 2;
}

.intro__layer--bg-back {
    z-index: 1;
    background: black;
}

.intro__layer--fg {
    z-index: 2;
}

.intro__layer--fg-front {
    z-index: 2;
}

.intro__layer--fg-back {
    z-index: 1;

    overflow: hidden
}

.intro__bg-fill {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, black 0%, white 10%, white 40%, gray 50%, white 60%, white 90%, black 100%);

    animation: expand-y 2s var(--in-out-quint);
}

.intro__line {
    z-index: 3;
    width: 100%;
    height: 4px;
    background-color: black;
}

.intro__mountain {
    z-index: 2;
    background-color: red;
}


.intro__title {
    color: black;
    font-size: 20vh;

    letter-spacing: 0.2em;
}

.intro__title--hello {
    animation: title-enter 1s var(--out-quint) 1s both;
}

.intro__title--world {
    animation: title-enter 1s var(--out-quint) 1.5s both;
}

.intro__title-shadow {
    color: transparent;
    background-clip: text;

    opacity: 50%;

    font-size: 20vw;
    font-weight: bold;
    font-style: italic;
    white-space: nowrap;
}

.intro__title-shadow--hello {
    background-image: linear-gradient(to bottom, black 30%, transparent 80%);
    animation: move-left-25 2s linear infinite;
}

.intro__title-shadow--world {
    background-image: linear-gradient(to top, black 20%, transparent 70%);
    animation: move-left-25 3s linear infinite reverse;
}

.intro__title-shadow-container {
    display: flex;
}

.intro__title-shadow-container--hello {
    animation: shadow-hello-enter 2s var(--out-quint) 1.1s both;
}

.intro__title-shadow-container--world {
    animation: shadow-world-enter 2s var(--out-quint) 1.6s both;
}

@keyframes expand-x {
    from { transform: scaleX(0%); }
    to { transform: scaleX(100%); }
}

@keyframes expand-y {
    from { transform: scaleY(0%); }
    to { transform: scaleY(100%); }
}

@keyframes title-enter {
    from {
        opacity: 0;
        letter-spacing: -0.5em;
    }
    to {
        opacity: 1;
        letter-spacing: 0.2em;
    }
}

@keyframes shadow-hello-enter {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes shadow-world-enter {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes move-left-25 {
    to {
        transform: translateX(25%);
    }
}